<div class="container">
    <div class="row text-center">
        <h1>Editing Movie</h1>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">
            <%= render 'form' %>
        </div>
           
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2 text-center">
            <%= link_to 'Show', @movie %> |
            <%= link_to 'Back', movies_path %>

        </div>
    </div>

    
</div>
