<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>ABOUT</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      This page was desinged to allow friends to vote on which movie we should watch next in my backyard. 

    </div>

  </div>
</div>
