
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
// 
// div {
//   border: 1px solid red;
// }



.shorten {
    white-space: nowrap;
    width: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red-line{
  border: 1px solid red;
}


body {
    color: white;
    background: rgb(12, 12, 12);
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
}

.movie-list{
  // padding-bottom: 100px;
  margin-bottom: 100px;

  .index-comment-count{
   padding: 12px 5px 0px 0px;
  }
}

.comment-body{
  color: black;
}

input {
  color: black;
}

.dark-color {
  background-color: rgb(43, 43, 43);
}

.top-padding {
  padding-top: 25px;
}

.edge-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.to-the-edge {
  padding: 0;
  margin: 0;
}

.center-me{
  margin: auto;
}

.tag-line{
  margin: auto 20px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-out {
  color: white;
  border: 1px solid black;
}



.show{

  padding-left: 0;
  padding-right: 0;

  .title{
    margin: auto;
    width: 100%;
    padding-left: 10px;
    background-color: rgb(43, 43, 43);
    border-radius: 5px 5px 0px 0px;


    h2{
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  .player{
    display: block;
    margin: auto;
    width: 100%;
    height: 500px;
    padding: 0;
  }

  .movie_details {
    background-color: #434549;

    img{
      padding: 10px 0px;
      margin: auto;
      border: 0px;
      height: auto;
      width: 100%
    }

    button {
      width: 100%;
      border-radius: 0px 0px 5px 5px;
      border: 0px;
      padding: 0px;
      background-color: green;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .movie_body{
      margin-top: 3em;
      padding-left: 28px;
      padding-bottom: 10px;
    }
  }


  .lower_menu {
    text-align: center;
    font-weight: bold;
    background-color: rgb(43, 43, 43);
    border-radius: 0px 0px 5px 5px;
    border-top: 0;
    margin: auto;
    width: 100%;
  }



}

.reader-board {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.thumb-box {
    color: white;
    height: auto;
    padding: 0px;
    margin: 0px;
    background: #1d1d1d;
    border: solid black;
    border: .5px solid #3a3a3a;



    a {
        color: white;
    }

    button {

    }

    .shadow {
      height: 75px;
      width: 100%;
      position: absolute;
      bottom: 2.5em;
      left: 0;
      background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
      // background-color: grey;
      background-repeat: repeat-x;
    }

    .title {
      text-transform: uppercase;
      font-size: 1.2em;
      position: absolute;
      bottom: 10px;
      left: 25px;
      right: 12px;
      height: auto;
      margin: 0;



      h2 {
        padding: 0;
        font-family: "Proxima Nova Semibold";
        color: #fff;
        text-shadow: 0 0 20px black;
        font-size: 20px;
        margin: 0;
        text-align: left;
        white-space: normal;
        height: auto;
        overflow: visible;
      }
    }

    .images {

      width: 100%;
      margin: 0px;
      padding: 0px;


      img{
        width: 100%;
        height: auto;
        border: 0;
        margin: 0px;
        padding: 0px;
      }

    }
    button {
      border-radius: 0;
      margin: 0;
    }
    .voting {
      width: 100%;
      padding: 0px 2px 2px 0px;
      margin: 0;
    }

    .caption{
      // width: 100%;
      margin: 0;
      padding: 0;

    }

    .year {
      padding-left: 5px;
      text-align: right;
      font-size: 1.2em;
      font-weight: bolder;
      color: white;

      opacity: 0.5;
      text-align: right;


    }

}



.like:hover {
    text-decoration: none;
}

.poster {
    border: 0px solid #636363;
    max-height: 300px;
    width: auto;

}


.lister {
  border: 1px solid red;
}

.comment-box{
  height: auto;
  margin: 10px 5px;
  padding: 10px 0 0 0;
  border-radius: 5px;

  .comment-text{
    padding-bottom: 50px;
  }

  .bottom-row{
    padding-bottom: 10px;
  }

}

.make-comment {
  margin: auto;
  height: 500px;
  margin-bottom: 50px;
}

.footer {

  position:fixed;
  bottom:0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
