
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// div {
//   border: 1px solid red;
// }

.shorten {
    white-space: nowrap; 
    width: 2em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.red-line{
  border: 1px solid red;
}


body {
    color: white;
    background: rgb(12, 12, 12);
}

input {
  color: black;
}

.dark-color {
  background-color: rgb(43, 43, 43);
}

.tag-line{
  margin: auto 20px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-out {
  color: white;
  border: 1px solid black;
}

.show{
  .title{
    text-align: center;
    background-color: rgb(43, 43, 43);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid black;

    h2{
      font-size: 3em;
      font-weight: bolder;
      text-transform: uppercase;
    }
  }

  .movie_details {
    background-color: #434549;

    img{
      padding-top: 10px;
      margin: auto;
      border: 0px;
      height: auto;
      width: 100%
    }

    button {
      width: 100%;
      border-radius: 0px 0px 5px 5px;
      border: 0px;
      padding: 10px;
      background-color: green;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .movie_body{
      margin-top: 3em;
    }
  }


  .lower_menu {
    text-align: center;
    font-weight: bold;
    background-color: rgb(43, 43, 43);
    border-radius: 0px 0px 5px 5px;
    border-top: 2px solid black;
  }



}

.thumb-box {
    text-align: center;
    color: white;
    height: 450px;
    padding: 0px;
    background: rgb(43, 43, 43);
    border: solid black;

    a {
        color: white;
    }
    
    .title {
      background: grey;
    }
}



.like:hover {
    text-decoration: none;
}

.poster {
    border: 3px solid black;
    max-height: 300px;
    width: auto;

}
